
/*ACA VA EL CSS*/


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



*{
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;}

html{
  background-color: #0D1E2E;
  /*background-color: rgb(15, 25, 51);*/
  color: WHITE;
  backdrop-filter: blur(15px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}



