.logo-header{
  height: 9vh;
  float: left;
}

.contenedormenu {
overflow: hidden; /* para contener el navbar en su lugar */
display: flex;
align-items:  center;
justify-content: space-between;
}

.contenedormenu .logo {
float: left; /* para colocar el logo a la izquierda */
margin-left: 5px;
}

.contenedormenu .logo img {
height: 50px; /* altura del logo */
width: auto; /* para mantener la proporción */
margin: 10px; /* margen alrededor del logo */
}

.contenedormenu .nav {
float: left; /* para colocar los elementos del menú a la derecha */
list-style-type: none; /* para quitar los puntos de la lista */
}

.contenedormenu .nav li {
display: inline-block; /* para que los elementos del menú estén uno al lado del otro */
}

.contenedormenu .nav li a {
display: block; /* para que los enlaces ocupen todo el espacio disponible */
color: WHITE; /* color del texto del enlace */
text-align: center; /* centrar el texto */
padding: 14px 16px; /* espacio interior */
text-decoration: none; /* quitar subrayado */
}

.contenedormenu .nav li a:hover {
background-color: #26425A; /* color de fondo al pasar el ratón */
}


/* estilos para el buscador */
.contenedormenu .buscador {
  float: right; /* para colocar el buscador a la derecha */
  margin-top: 10px; /* margen superior */
  display: flex;
  align-items: center;
 
}

.contenedormenu .buscador input[type='text'] {
  padding: 8px; /* espacio interior */
  border: none; /* quitar borde */
  border-radius: 5px; /* borde redondeado */
  background-color: rgba(134, 171, 207, 0.5);
  color:white;
  box-shadow: 1PX 1PX 1px 1PX #26425A;
}


.contenedormenu .buscador h4 {
  display: inline; /* para colocar los elementos de texto en línea */
  color: white; /* color del texto */
  margin: 0 10px; /* margen entre elementos */
}

.perfil{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#icono-arrow{
  background-color:#0D1E2E;
}

#imagenarrow{
  width: 150%;
  height: auto;
}

.icono-persona{
  margin-left: 10px;
  width: 10%;
}

.botonLogin{
  border-color: #e1cbd7;
  background-color: #0D1E2E;
  margin-right: 50PX;
  margin-left: 40PX;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.8vh;
  font-weight: bold;
  color: #e1cbd7;
}




/*aca va lo responsive*/
#mainDrawer{
  background-color: #0D1E2E;
}
.logo-header-responsive{
  width: 40%;
  float: left;
  margin-left:25%;
  
}

.contenedor-header{
  background-color: #0D1E2E;
}
#buscado-responsive{
  z-index: 999;
  float:right;
  padding: 8px; /* espacio interior */
  border: none; /* quitar borde */
  border-radius: 5px; /* borde redondeado */
  background-color: rgba(134, 171, 207, 0.5);
  color:white;
  box-shadow: 1PX 1PX 1px 1PX #26425A;
  height: 100%;
  margin: 1%;
}

.contenedorheaderresponsive{
  display: flex;
  flex-direction: row;
  margin: 0 5%;
  justify-content: space-between;
}
.listas-responsive{
  display: flex ;
  flex-direction: column;
}

.itemresponsive{
  text-decoration: none;
  color: white;
  font-weight:400;
  font-size: 3vh;
  margin-left: 15%;
  margin-bottom: 8%;
}

.css-121u1r5-MuiDrawer-docked{
  width: 0;
}

.botonLogin-responsive{
  float: right;
  border-color: #e1cbd7;
  background-color: #0D1E2E;
  margin-right: 0;
  margin-left: 40PX;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.8vh;
  font-weight: bold;
  color: #e1cbd7;
}
.perfil-responsive{
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
 

}