
.main-inicio{
   /*background-color:rgba(217, 217, 217, 0.3);*/
}


button.boton-genero{
    color: rgb(200, 155, 122);
    border-color: rgb(200, 155, 122);
    /*color: rgb(201, 198, 198);
    border-color:  rgb(201, 198, 198);*/
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    font-size: 2.5vh;
    font-family: "Jost", sans-serif;
    margin: 10%;
    box-shadow: 1px 1px 1px rgb(200, 155, 122);

}

.botones-inicio {
    display: flex;
    padding: 3%;
    justify-content: space-evenly;
    

  }

  .fila-imagenes {
    display: inline-flex; /* Mantiene las imágenes en una línea horizontal */
  }
  
  .fila-imagenes img {
    width: 15%; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 15%;
    margin-left: 2%; /* Espacio entre las imágenes */
    border-radius: 10px ;
    display: block;
    box-shadow: 5px 2px 2px rgb(97, 96, 95);
  }
  

  .fila-imagenes .imagencirculo{
    width: 10%;
    height: 10%;
  }

  .fila-imagenes-container {
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    white-space: nowrap; /* Evita que las imágenes se envuelvan a la siguiente línea */
  }
  
  .tituloListas{
    margin-left: 2%;
    font-size: 3vh;
  }
  
  .fila-imagenes-container {
    overflow-x: hidden;
    display: inline-block;
    position: relative;
 
  }

 

  .lista-contenidos img{
    width: 75%; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
    border-radius: 10px ;
    /*box-shadow: 5px 2px 2px rgb(97, 96, 95);*/
    padding: 0;
  }
  .lista-contenidos{
    margin: 1%;
  }
  #SwiperSlideEstilo img{
    margin: 0;
  }

  #swiperEstilo{
    margin: 0;
  }

  .Lista img{
    margin: 0;
  }

  .swiper-slide{
    width: 50%;
  }

  

  
