.imgcontenedor img{
    height: 100%;
}


.contenedorgridcard{
    width: 100;
}

.tituloGenero{
margin-left:2% ;
}

.contenedorFiltro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 3%;
}


#grouped-select{
    outline-color: white;
    border-color: white;
    color: white;
}

