

.emailboton{
   color: rgb(200, 155, 122);
}

#BotonLogIn{
    background-color:#0d1e2e;
    

}



.logoSignIn{
    width: 100%;
}


.forgot{
    /*text-decoration: none;*/
    color: #86a8cf;
}

#box{
color: white;
}

#emailboton{
    color: white;
    outline-color: white;
    border-color: white;
}